@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-orbi: "Orbitron", sans-serif;
  --font-aud:"Audiowide", sans-serif;
  --font-t5:"Tiny5", sans-serif;
  --font-pix: "Rubik Pixels", system-ui;
  --font-one: "Rubik Mono One", monospace;
  --font-wow: "Ruthie", cursive;
  --font-rud: "Ruda", sans-serif;
  --font-exp: "Encode Sans Expanded", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #260136;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
